@using Microsoft.AspNetCore.Http.Features


@{
    var consentFeatureFlag = Context.Features.Get<ITrackingConsentFeature>();
    var showBannerFlag = !consentFeatureFlag?.CanTrack ?? false;
    var cookieStr = consentFeatureFlag?.CreateConsentCookie();
}

@if (showBannerFlag)
{
    <div class="modal fade" onload="start" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" id="cookieConsentdiv">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="display-6" id="staicBackdropLabel">Cookie Policy</h3>
                    <p>Vänligen acceptera våran cookiepolicy  </p>
                    <button type="button" class="da-btn-primary" data-bs-dismiss="modal" data-cookie-string="@cookieStr">
                        <span aria-hidden="true">Godkänn</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vi sparar och hanterar dina personligauppgifter enbart för eget bruk och för att kunna
                        hantera de ärenden du skapar. När du inte längre har några ärenden kvar och inte är aktiv
                        på våran sida så tar vi bort den datan vi har sparat om dig.
                    </p>
                </div>
            </div>
        </div>




    </div>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#cookieConsentdiv').modal('show');
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#cookieConsentdiv button[data-cookie-string]").bind("click", function () {
                document.cookie = $("#cookieConsentdiv button").attr("data-cookie-string");
                $("#cookieConsentdiv").hide();
            });
        });
    </script>

}


<!-- Modal -->
@*<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>*@