<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalAfterlife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DigitalAfterlife.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-route-pageNr="" asp-page="/Portal/Portal">DigitalAfterlife</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">

            <aside class="col-lg-2 h-auto w-auto p-3 d-inline-block">
                
                    <div class="row justify-content-center align-items-center">
                        
                            <div class="col-10 card shadow-2-strong" style="border-radius: 15px">
                                <div class="card-body p-1 p-md-5">
                                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                                        <li class="nav-item">
                                            <a asp-page="/Portal/Portal" asp-route-pageNr="" class="nav-text align-middle px-0">
                                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Översikt</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-page="/Portal/PersonUppgifter" class="nav-text align-middle px-0">
                                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Personuppgifter</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-page="/Portal/Portal" asp-route-pageNr="1" class="nav-text align-middle px-0">
                                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dokument</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-page="/Portal/KomIgang" class="nav-text align-middle px-0">
                                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Kom Igång</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-page="/Portal/TabortSaker" class="nav-text align-middle px-0">
                                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Radera Digitala spår</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                     
                    </div>              
            </aside>

            <div class="col-lg-8 min-vh-100" style="border: 5px solid pink">
                <div class="container-fluid text-white">
                    @RenderBody()
                </div>
            </div>

            <aside class="col-lg-2 h-auto w-auto p-3 d-inline-block">

                <div class="row justify-content-center align-items-center">

                    <div class="col-10 card shadow-2-strong" style="border-radius: 15px">
                        <div class="card-body p-1 p-md-5">
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                                <li class="nav-item">
                                    <a asp-page="/Portal/PersonUppgifter" class="nav-text align-middle px-0">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Personuppgifter</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-page="/Portal/Portal" asp-route-pageNr="1" class="nav-text align-middle px-0">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dokument</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-page="/Portal/KomIgang" class="nav-text align-middle px-0">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Kom Igång</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-page="/Portal/TabortSaker" class="nav-text align-middle px-0">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Radera Digitala spår</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>

        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
