<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalAfterlife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DigitalAfterlife.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-route-pageNr="0" asp-page="/Portal">DigitalAfterlife</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            

                <div class="col-lg-2 text-black" style="background-color: aqua; border: 2px solid black; height: 230px">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-page="/Portal/PersonUppgifter" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Personuppgifter</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Portal/Portal" asp-route-pageNr="1" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dokument</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Portal/KomIgang" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Kom Igång</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Portal/TabortSaker" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Radera Digitala spår</span>
                            </a>
                        </li>
                    </ul>
                </div>



                <div class="col-lg-8 min-vh-100" style="background-color: bisque; border: 2px solid black">
                    <div class="container">
                        @RenderBody()
                    </div>
                </div>



            <div class="col-lg-2 text-black" style="background-color: mintcream; border: 2px solid black; height: 230px">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-page="/Portal/PersonUppgifter" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Personuppgifter</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Portal/Portal" asp-route-pageNr="1" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dokument</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Portal/KomIgang" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Kom Igång</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Portal/TabortSaker" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Radera Digitala spår</span>
                            </a>
                        </li>
                    </ul>
                </div>

        </div>
    </div>

</body>
</html>
