<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalAfterlife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DigitalAfterlife.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&family=Nunito&family=Nunito+Sans&family=Open+Sans&family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent box-shadow mb-3">
            <div class="container-fluid mx-5">
                <i class="fa-brands fa-pied-piper-alt fa-2xl" style="color: #000000;">&nbsp;</i>
                <a class="navbar-brand text-dark" asp-area="" asp-page="/Portal/Portal">Digital Afterlife</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>



    @*INTE KLART MED responsiv sidonav*@
    <div class="container-fluid">
        <div class="row">
            <aside class="col-2 flex-column" @* style="background-color: lightgreen"*@>
                <ul class="nav-sub text-center">
                    <li class="nav-sub-item">
                        <a asp-page="/Portal/Portal" asp-route-pageNr="" class="da-btn-nav" style="padding-inline: 60px;">Översikt</a>
                    </li>
                    <li class="nav-sub-item">
                        <a asp-page="/Portal/Ärende" asp-route-pageNr="" class="da-btn-nav" style="padding-inline: 61px;">Ärenden</a>
                    </li>
                    <li class="nav-sub-item">
                        <a asp-page="/Portal/Portal" asp-route-pageNr="1" class="da-btn-nav" style="padding-inline: 55px;">Dokument</a>
                    </li>
                    <li class="nav-sub-item">
                        <a asp-page="/Portal/TabortSaker" asp-route-pageNr="" class="da-btn-nav" style="padding-inline: 16px;">Radera digitala spår</a>
                    </li>
                </ul>
            </aside>
            <div class="col-8 min-vh-100">
                <div class="container-fluid text-dark">
                    @RenderBody()
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-white">
        <div class="container">
            &copy; 2023 - DigitalAfterlife - We Care</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://kit.fontawesome.com/1114296e1a.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
