@page
@model DigitalAfterlife2._0.Pages.Portal.PerishedInfoModel
@{
    ViewData["Title"] = "Skapa ärende";
    Layout = "_InloggningsPortal";
}

<h1>Skapa ett ärende</h1>

<h4>För att vi ska kunna skapa ett ärende, så behöver vi ha information om den avlidne.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="text-dark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Perished.FirstName" class="control-label"></label>
                <input asp-for="Perished.FirstName" class="form-control" />
                <span asp-validation-for="Perished.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Perished.LastName" class="control-label"></label>
                <input asp-for="Perished.LastName" class="form-control" />
                <span asp-validation-for="Perished.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Perished.BirthDate" class="control-label"></label>
                <input asp-for="Perished.BirthDate" class="form-control" />
                <span asp-validation-for="Perished.BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Perished.SocialSecurity" class="control-label"></label>
                <input asp-for="Perished.SocialSecurity" class="form-control" />
                <span asp-validation-for="Perished.SocialSecurity" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-2">
                <h6 class="mb-1 pb-1">Kön: </h6>
                <div class="form-check form-check-inline">
                    <input asp-for="Perished.Gender" class="form-check-input" type="radio" id="femaleGender" value="Kvinna" checked="checked" />
                    <label asp-for="Perished.Gender" class="form-check-label">Kvinna</label>
                    <span asp-validation-for="Perished.Gender" class="text-danger"></span>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Perished.Gender" class="form-check-input" type="radio" id="maleGender" value="Man" />
                    <label asp-for="Perished.Gender" class="form-check-label">Man</label>
                    <span asp-validation-for="Perished.Gender" class="text-danger"></span>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Perished.Gender" class="form-check-input" type="radio" id="otherGender" value="Annan" />
                    <label asp-for="Perished.Gender" class="form-check-label">Annan</label>
                    <span asp-validation-for="Perished.Gender" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Perished.PhoneNumber" class="control-label"></label>
                <input asp-for="Perished.PhoneNumber" class="form-control" />
                <span asp-validation-for="Perished.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Perished.Email" class="control-label"></label>
                <input asp-for="Perished.Email" class="form-control" />
                <span asp-validation-for="Perished.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Perished.CreditCardNumber" class="control-label">Kreditkortsnummer (Vi behöver detta för att söka och identifiera konton)</label>
                <input asp-for="Perished.CreditCardNumber" class="form-control" />
                <span asp-validation-for="Perished.CreditCardNumber" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
