@page
@model DigitalAfterlife2._0.Pages.Portal.PortalModel
@{
    Layout = "_InloggningsPortal";
}
@if (Model.PageNr == 1) //dokument
{
    <div class="container text-center">
        <h1 class="display-2">Välj ett dokument att ladda upp</h1>
            <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    </div>
    <br />
    <hr />
    <h2 class="fw-bold">Dödscertifikat</h2>
    <p>Här laddar du upp den avlidnes dödscertifikat, du får den av blabla</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <br />
    <p class="fw-bold">Välj att ladda hem en befintlig mall från våran sida eller ladda upp ett eget intyg.</p>
    <a class="btn btn-primary" asp-page="deathcert">Ladda upp ett eget dödscertifikat</a>
    <a class="btn btn-primary mx-2" asp-page="deathcert">Ladda hem en mall (lägg till länk)</a>
    <br />
    <hr />
    <h2 class="fw-bold">Fullmakt</h2>
    <p>Här laddar du upp en fullmakt, som ger oss möjlighet att agera i erat namn.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <br />
    <p class="fw-bold">Välj att ladda hem en befintlig mall från våran sida eller ladda upp ett eget intyg.</p>
    <a class="btn btn-primary" asp-page="Fullmakt">Ladda upp en egen fullmakt</a>
    <a class="btn btn-primary mx-2" asp-page="Fullmakt">Ladda hem en mall (lägg till länk)</a>

}
else //översikt
{
    @if (Model.Perished != null && Model.Perished.Count > 0)
    {
        <h1 class="display-2 text-center">Dina pågående ärenden</h1>
        <hr />
        foreach (var p in Model.Perished)
        {
            <div class="d-flex">
                <h2 class="fw-bold mx-3">@p.FirstName @p.LastName (@p.BirthDate-@p.SocialSecurity)</h2>
                <a class="btn btn-primary" asp-page="Ärende">Se ärende</a>
            </div>
            <hr />
        }
    }
    else
    {
        <h1 class="display-4 text-center">Du har inga pågående ärenden.</h1>
        <a asp-page="PerishedInfo" class="btn btn-primary">Skapa ärende</a>
    }
}

<script src="https://kit.fontawesome.com/1114296e1a.js" crossorigin="anonymous"></script>
