@page
@model DigitalAfterlife2._0.Pages.Portal.PortalModel
@{
    Layout = "_InloggningsPortal";
}
@if(Model.PageNr == 1)
{
    <div class="container text-center mt-3" style="border: 2px solid black">
        <h1 class="display-2">Välj ett dokument att ladda upp</h1>
        <p>Här ser du alla dokument som du ska ladda upp för att gå vidare i processen.</p>
    </div>
    <br />
    <hr />
    <h2 class="fw-bold">Avlidne</h2>
    <p>Step 1: Här laddar du upp all information om den avlidne</p>
    <a asp-page="PerishedInfo">Mer info...</a>
    <br />
    <hr />
    <h2 class="fw-bold">Dödscertifikat</h2>
    <p>Här laddar du upp den avlidnes dödscertifikat, du får den av blabla</p>
    <a asp-page="deathcert">Mer info...</a>
    <br />
    <hr />
    <h2 class="fw-bold">Fullmakt</h2>
    <p>Här laddar du upp en fullmakt, som ger oss möjlighet att agera i erat namn.</p>
    <a asp-page="fullmakt">Mer info...</a>

    <p></p>
   
}
else
{
    @if(Model.Perished != null && Model.Perished.Count > 0)
    {
        <h1 class="display-3 text-center fw-bold">Dina pågående ärenden</h1>
        <p>En ruta med info (namn, personnummer) samt en knapp som tar dig till persishedpersonuppgifter. </p>
        <hr />
        foreach(var p in Model.Perished)
        {
            <h3 class="fw-bold">@p.FirstName @p.LastName</h3>

            if(p.Deathcert == true)
            {
                <p><i class="fa-solid fa-circle-check" style="color: #2fca42;"></i> Du har laddat upp dödscertifikat </p>
            }
            else
            {
                <p><i class="fa-sharp fa-solid fa-circle-xmark" style="color: #e41b2f;"></i> Ladda upp dödscertifikat för @p.FirstName</p>
            }
            if(p.Fullmakt == true)
            {
                <p><i class="fa-solid fa-circle-check" style="color: #2fca42;"></i> Du har laddat upp fullmakt</p>
            }
            else
            {
                <p><i class="fa-sharp fa-solid fa-circle-xmark" style="color: #e41b2f;"></i> Ladda upp fullmakt för @p.FirstName</p>
            }
            if(p.Deathcert == true && p.Fullmakt == true)
            {
                <p>Invänta återkopplning från oss</p>
            }
        <hr />

        }
    }
    else
    {
        <h1 class="display-4 text-center">Du har inga pågående ärenden.</h1>
        <button>skapa ärende ---> /perishedinfo/skapa ny</button>
    }
}

<script src="https://kit.fontawesome.com/1114296e1a.js" crossorigin="anonymous"></script>
