@page
@model DigitalAfterlife2._0.Pages.Portal.PortalModel
@{
    Layout = "_InloggningsPortal";
}
@if(Model.PageNr == 1)
{
    <div class="container text-center mt-3" style="border: 2px solid black">
        <h1 class="display-2">Välj ett dokument att ladda upp</h1>
        <p>Här ser du alla dokument som du ska ladda upp för att gå vidare i processen.</p>
    </div>
    <br />
    <hr />
    <h2 class="fw-bold">Avlidne</h2>
    <p>Step 1: Här laddar du upp all information om den avlidne</p>
    <a asp-page="PerishedInfo">Mer info...</a>
    <br />
    <hr />
    <h2 class="fw-bold">Dödscertifikat</h2>
    <p>Här laddar du upp den avlidnes dödscertifikat, du får den av blabla</p>
    <a asp-page="deathcert">Mer info...</a>
    <br />
    <hr />
    <h2 class="fw-bold">Fullmakt</h2>
    <p>Här laddar du upp en fullmakt, som ger oss möjlighet att agera i erat namn.</p>
    <a asp-page="fullmakt">Mer info...</a>
   
}
else
{
    @if(Model.Perished != null && Model.Perished.Count > 0)
    {
        <h1 class="display-3 text-center fw-bold">Dina pågående ärenden</h1>
        <hr />
        foreach(var p in Model.Perished)
        {
            <h3 class="fw-bold">@p.FirstName @p.Surname</h3>

            if(p.Deathcert == true)
            {
                <p>Ladda upp Dödscertifikat överstruket alt annan text</p>
            }
            else
            {
                <p>Ladda upp Dödscertifikat för personen</p>
            }
            if(p.Fullmakt == true)
            {
                <p>Ladda upp Fullmakt överstruket alt annan text</p>
            }
            else
            {
                <p>Ladda upp fullmakt för personen</p>
            }
            if(p.Deathcert == true && p.Fullmakt == true)
            {
                <p>Invänta återkopplning från oss</p>
            }
        <hr />

        }
    }
    else
    {
        <h1 class="display-3 text-center fw-bold">Du har inga pågående ärenden. Vänligen fyll i en ny omkommen</h1>
    }
}