@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

}

<h1 class="display-2 text-center mb-5 mt-5">Mitt konto</h1>

<div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <partial name="_ManageNav" />
            </div>
        </div>
        <hr class="mb-5" />
    </div>
    <div class="row">

        <div class="col-12 text-center">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
