@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Ladda ner personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="mx-3">@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
