@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personliga uppgifter som du har givit oss. På den här sidan kan du ladda ner eller radera den datan.</p>
        <p>
            <strong>Notera att kontot inte kommer att kunna återskapas vid borttagning av data.</strong>
            <p>Om du tar bort den här datan kommer ditt konto försvinna permanent.</p>

        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Ladda ner</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger mt-2">Ta bort</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
