@page
@model DigitalAfterlife2._0.Pages.Admin.PerishedAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>Perished</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Perished.Id" />
            <div class="form-group">
                <label asp-for="Perished.FirstName" class="control-label"></label>
                <input asp-for="Perished.FirstName" class="form-control" />
                <span asp-validation-for="Perished.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.LastName" class="control-label"></label>
                <input asp-for="Perished.LastName" class="form-control" />
                <span asp-validation-for="Perished.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.Gender" class="control-label"></label>
                <input asp-for="Perished.Gender" class="form-control" />
                <span asp-validation-for="Perished.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.BirthDate" class="control-label"></label>
                <input asp-for="Perished.BirthDate" class="form-control" />
                <span asp-validation-for="Perished.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.SocialSecurity" class="control-label"></label>
                <input asp-for="Perished.SocialSecurity" class="form-control" />
                <span asp-validation-for="Perished.SocialSecurity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.PhoneNumber" class="control-label"></label>
                <input asp-for="Perished.PhoneNumber" class="form-control" />
                <span asp-validation-for="Perished.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.Email" class="control-label"></label>
                <input asp-for="Perished.Email" class="form-control" />
                <span asp-validation-for="Perished.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.Deathcert" class="control-label"></label>
                <input asp-for="Perished.Deathcert" class="form-control" />
                <span asp-validation-for="Perished.Deathcert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.Fullmakt" class="control-label"></label>
                <input asp-for="Perished.Fullmakt" class="form-control" />
                <span asp-validation-for="Perished.Fullmakt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perished.NextOfKinId" class="control-label"></label>
                <select asp-for="Perished.NextOfKinId" class="form-control" asp-items="ViewBag.NextOfKinId"></select>
                <span asp-validation-for="Perished.NextOfKinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
