@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Vi har uppdaterat ditt lösenord!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Var god titta i din mailkorg och följ hänvisningarna.
</p>
