@page
@model LockoutModel
@{
    ViewData["Title"] = "Utlåst";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Det här kontot har låsts för tillfället. Var god försök igen om en stund.</p>
</header>
