@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Återställt lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ditt lösenord har återställts. Var god <a asp-page="./Login">klicka här för att logga in</a>.
</p>
