body {
    margin: 0;
    padding: 0;
    color: black;
}

p {
    font-family: 'PT Sans', sans-serif;
    color: #413c3b;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    color: #24201f;
}

.row,
.container-fluid {
    margin: 0;
    padding: 0;
}

.da-btn-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #4B6A72;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-primary:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-secondary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: red;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-secondary:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-nav {
    background-color: #4B6A72;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    padding: 15px;
}

    .da-btn-nav:hover {
        background-color: #708E8A;
        color: white;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}




.contentarea{
    margin-top: 25px;
    margin-bottom: 100px;
    
}

body {
    
    background-color: white;
}

/*hette från början .nav-link */
.nav-text {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.navbar-brand {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}
