/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: #fff;
}

.row,
.container-fluid {
    padding: 0;
    margin: 0;
}

.container, .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}

.font-xl,
.text-xl {
    font-size: 1rem;
}

p {
    font-family: 'PT Sans', sans-serif;
    color: #413c3b;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    color: #24201f;
}

.bg-cream {
    background-color: #f6f2ed !important;
}

.bg-vanlig {
    background-color: #FCF8E8 !important;
}

.bg-greencream {
    background-color: #94B49F !important;
}

.br-16 {
    border-radius: 16px;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.front-page {
    height: 100vh;
}

    .front-page header-h2 {
        font-size: 48px;
        line-height: 62px;
        font-weight: 900;
    }

.header-h1 {
    margin: 0px 0px 24px;
    font-size: 64px;
}

.header-h2 {
    margin: 0px 0px 24px;
}

/*BUTTONS*/
.da-btn-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #4B6A72;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-primary:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-cta {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #4B6A72;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-cta:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-nav {
    background-color: #4B6A72;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    padding: 15px;
}

    .da-btn-nav:hover {
        background-color: #708E8A;
        color: white;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


/*FOOTER*/
.footer {
    height: 150px;
    background-color: black;
    padding-top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-manage {
    height: 150px;
    background-color: black;
    padding-top: 4rem;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.feature-section {
    text-align: center;
    margin: 40px 40px 48px;
    padding: 48px 0px;
}

.review-section {
    margin: 40px 40px 48px;
    padding: 48px 0px;
}

.review-signature {
    font-weight: bold;
}

.contact-section {
    margin: 40px 40px 48px;
    padding: 48px 0px;
}


/*EXTRA SMALL*/
@media (min-width: 390px) and (max-width: 575.98px) {

    .front-page {
        padding: 24px 0px 0px;
        height: 100%;
    }

    .hero-section {
        display: block;
        height: 30%;
    }

    .hero-left {
        text-align: center;
        padding-top: 20px;
    }

    .hero-right {
        text-align: center;
        margin-top: 50px;
    }

    .hero-img,
    .feature-img,
    .step-img {
        display: block;
        max-width: 100%;
    }

    .header-h2 {
        font-size: 2.2rem;
    }

    .header-h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .header-h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .font-xl {
        font-size: 1.1rem;
    }

    .footer {
        height: 80px;
        padding-top: 2rem;
    }

    .small-divider {
        width: 200px;
    }

    .large-divider {
        width: 50vw;
    }

    .form-section {
        width: 20vw;
    }
}

/*SMALL*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .front-page {
        padding: 24px 0px 0px;
        height: 100%;
    }

    .hero-section {
        display: block;
        text-align: center;
    }

    .hero-p {
        padding-inline: 5rem;
        margin-bottom: 35px;
    }

    .hero-right {
        display: block;
        margin-top: 30px;
    }

    .hero-img,
    .feature-img,
    .step-img {
        display: block;
        max-width: 100%;
    }

    .header-h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .header-h2 {
        font-size: 3rem;
    }

    .header-h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .img-cont {
        text-align: center;
    }

    .small-divider {
        width: 300px;
    }

    .font-xl {
        font-size: 1.2rem;
    }

    .large-divider {
        width: 70vw;
    }

    .form-section {
        width: 20vw;
    }
}

/*MEDIUM*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .front-page {
        padding: 24px 0px 0px;
        height: 100%;
    }

    .hero-section {
        display: block;
        text-align: center;
    }

    .header-h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .header-h2 {
        font-size: 3rem;
    }

    .header-h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .font-xl {
        font-size: 1.3rem;
    }

    .hero-p {
        padding-inline: 5rem;
        margin-bottom: 35px;
    }

    .hero-right {
        display: block;
        margin-top: 30px;
    }

    .hero-img,
    .feature-img {
        max-width: 100%;
    }

    .step-img {
        max-width: 80%;
    }

    .step-section {
        text-align: start;
    }

    .small-divider {
        width: 400px;
    }

    .large-divider {
        width: 70vw;
    }

    .form-section {
        width: 20vw;
    }
}

/*Large*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .front-page {
        padding: 24px 0px 0px;
        height: 100%;
    }

    .hero-left {
        z-index: 2;
        text-align: start;
    }

    .hero-right {
        z-index: 1;
        margin-left: -150px;
        margin-right: 70px;
        margin-top: 30px;
    }

    .hero-img {
        margin: auto;
    }

    .header-h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .header-h2 {
        font-size: 3rem;
    }

    .header-h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .step-header-h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .font-xl {
        font-size: 1.4rem;
    }

    .hero-p {
        padding-inline: 5rem;
        margin-bottom: 35px;
    }

    .hero-img,
    .feature-img {
        max-width: 100%;
        z-index: -100;
    }

    .step-img {
        max-width: 80%;
    }

    .small-divider {
        width: 500px;
    }

    .large-divider {
        width: 70vw;
    }

    .form-section {
        width: 25vw;
    }
}

/*Extra large*/
@media (min-width: 1200px) {

    .front-page {
        padding: 24px 0px 0px;
        height: 100%;
    }

    .hero-section {
        margin-bottom: 100px;
    }

    .hero-left {
        z-index: 2;
        text-align: start;
    }

    .hero-right {
        z-index: 1;
        margin-left: -150px;
        margin-right: 70px;
        margin-top: 30px;
    }

    .hero-img {
        margin: auto;
    }

    .header-h1 {
        font-size: 5rem;
        font-weight: bold;
    }

    .header-h2 {
        font-size: 4rem;
    }

    .header-h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .font-xl {
        font-size: 1.4rem;
    }

    .hero-p {
        padding-inline: 5rem;
        margin-bottom: 35px;
    }

    .hero-img,
    .feature-img,
    .step-img {
        max-width: 100%;
        z-index: -100;
    }

    .small-divider {
        width: 600px;
    }

    .large-divider {
        width: 80vw;
    }

    .form-section {
        width: 25vw;
    }
}
/*NAV*/

.nav-sub {
    margin-top: 140px;
}

.nav-sub-item {
    width: 200px;
    margin-bottom: 30px;
    text-decoration: none;
    list-style: none;
}

    .nav-sub-item > li {
        width: 150px;
    }

.nav-text {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.navbar-brand {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}




/*FEATURE*/

.feature-section {
    margin: 40px 40px 48px;
    padding: 48px 0px;
}

.feature-title {
    margin: 0px -15px;
    padding: 32px 0px;
}







/*Start regform*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
