/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: #fff;
}

.row,
.container-fluid {
    padding: 0;
    margin: 0;
}

.container, .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}

.font-l {
    font-size: 16px;
}

.font-xl,
.text-xl {
    font-size: 18px;
}

p {
    font-family: 'PT Sans', sans-serif;
    color: #413c3b;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    color: #24201f;
}

.bg-cream {
    background-color: #f6f2ed !important;
}

.bg-vanlig {
    background-color: #FCF8E8 !important;
}

.bg-greencream {
    background-color: #94B49F !important;
}

.br-16 {
    border-radius: 16px;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.nav-sub {
    margin-top: 140px;
}

.nav-sub-item {
    width: 200px;
    margin-bottom: 30px;
    text-decoration: none;
    list-style: none;
}

    .nav-sub-item > li {
        width: 150px;
    }

/*hette från början .nav-link */
.nav-text {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.navbar-brand {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}

.front-page {
    padding: 24px 0px 0px;
}

    .front-page header-h2 {
        font-size: 48px;
        line-height: 62px;
        font-weight: 900;
    }

.header-h1 {
    margin: 0px 0px 24px;
    font-size: 64px;
}

.header-h2 {
    margin: 0px 0px 24px;
}

.hero-section {
    position: relative;
    height: 1100px;
}

.hero-left {
    position: absolute;
    z-index: 100;
    width: 700px;
    top: 300px;
    left: 50px;
}

.hero-right {
    position: absolute;
    z-index: 1;
    right: 700px;
    top: 5px;
}

.feature-section {
    margin: 40px 40px 48px;
    padding: 48px 0px;
}

.feature-title {
    margin: 0px -15px;
    padding: 32px 0px;
}

.step-section {
}

.review-section {
    margin: 40px 40px 48px;
    padding: 48px 0px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*Start regform*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

/*Slut regform*/


/*testar att modda en knapp*/
.da-btn-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #4B6A72;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-primary:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-secondary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: red;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-secondary:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-nav {
    background-color: #4B6A72;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    padding: 15px;
}

    .da-btn-nav:hover {
        background-color: #708E8A;
        color: white;
    }


/*Ändrade footer i vanliga _layout.*/
.footer {
    height: 150px;
    background-color: black;
    padding-top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-manage {
    height: 150px;
    background-color: black;
    padding-top: 4rem;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}



/*RESPONSIVENESS*/

/*EXTRA SMALL*/
@media (max-width: 575px) {

    body {
        background-color: red;
    }

    h1 {
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }

    /*    .bilden {
        display: block;
        padding: 0 5px;
        margin: auto;
        right: 0;
        position: static;
    }*/

    img[src="http://via.placeholder.com/1500x1100"] {
        content: url("http://via.placeholder.com/360x360");
    }
}

/*SMALL*/
/*@media (min-width: 576px) {
    body {
        background-color: blue;
    }

    .div {
        display: block;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }


    .bilden {
    }

    .bilden-sm {
    }
}*/


/*LARGE*/
/*@media (max-width: 992px) {
    body {
        background-color: yellow;
    }
}*/

/*EXTRA LARGE*/
/*@media (min-width: 1200px) {
    body {
        background-color: black;
    }
}*/
/*
MEDIUM*/
/*@media (max-width: 768px) {
    body {
        background-color: green;
    }
}*/





/*@media (min-width: 965px) {
    .container,
    .frontpage {
        max-width: 1360px;
        padding: 0 2rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


@media (max-width: 480px) {
    body {
        display: block;
        font-size: 32px;
    }

    p {
        font-size: 32px;
    }
}*/
