/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: #fff;
}

.row,
.container-fluid {
    padding: 0;
    margin: 0;
}

.container, .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}

.font-l {
    font-size: 16px;
}

.font-xl,
.text-xl {
    font-size: 18px;
}

p {
    font-family: 'PT Sans', sans-serif;
    color: #413c3b;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    color: #24201f;
}

.bg-cream {
    background-color: #f6f2ed !important;
}

.bg-vanlig {
    background-color: #FCF8E8 !important;
}

.bg-greencream {
    background-color: #94B49F !important;
}

.br-16 {
    border-radius: 16px;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.nav-sub {
    margin-top: 140px;
}

.nav-sub-item {
    width: 200px;
    margin-bottom: 30px;
    text-decoration: none;
    list-style: none;
}

    .nav-sub-item > li {
        width: 150px;
    }

/*hette från början .nav-link */
.nav-text {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.navbar-brand {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}

.front-page {
    padding: 24px 0px 0px;
}

    .front-page header-h2 {
        font-size: 48px;
        line-height: 62px;
        font-weight: 900;
    }

.header-h1 {
    margin: 0px 0px 24px;
    font-size: 64px;
}

.header-h2 {
    margin: 0px 0px 24px;
}

.hero-section {
    position: relative;
    height: 1150px;
}

.hero-left {
    z-index: 100;
    width: 700px;
}

.hero-right {
    z-index: 1;
    width: fit-content
}

.feature-section {
    margin: 40px 40px 48px;
    padding: 48px 0px;
}

.feature-title {
    margin: 0px -15px;
    padding: 32px 0px;
}

.step-section {
}

.review-section {
    margin: 40px 40px 48px;
    padding: 48px 0px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*Start regform*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

/*Slut regform*/


/*testar att modda en knapp*/
.da-btn-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #4B6A72;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-primary:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-secondary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: red;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .da-btn-secondary:hover {
        background-color: #708E8A;
        color: white;
    }

.da-btn-nav {
    background-color: #4B6A72;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    padding: 15px;
}

    .da-btn-nav:hover {
        background-color: #708E8A;
        color: white;
    }


/*Ändrade footer i vanliga _layout.*/
.footer {
    height: 150px;
    background-color: black;
    padding-top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-manage {
    height: 150px;
    background-color: black;
    padding-top: 4rem;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

/*.feature-img,
.step-img {
    width: 400px;
}*/


/*RESPONSIVENESS*/

/*@media only screen and (max-width: 600px) and (min-width: 400px)*/

/*Middle sized screens*/
@media (min-width: 769px) and (max-width: 1199px) {
    

    .hero-img{
        width: 700px;
    }

    .feature-img,
    .step-img {
        width: 400px;
    }


    .hero-section {
        height: 950px;
    }
    

    .img-cont {
        margin: auto;
        text-align: center;
    }

    .small-divider {
        width: 350px;
    }
    .hero-right {
        margin: auto;
    }
    .header-h1,
    .hero-p {
        text-align: center;
    }
    .font-xl{
        font-size: 14px;
    }
    
    .review-header-h2 {
        font-weight: 500;
    }

    .header-h3 {
        font-size: 30px;
        text-align: center;
    }
   
    .cta {
        text-align: center;
        margin: auto;
    }
}

/*MEDIUM or Ipad MINI*/
@media (min-width: 576px) and (max-width: 768px) {

    .feature-img,
    .step-img {
        width: 310px;
    }

    .step-img {
        width: 500px;
    }

    .hero-img {
        width: 520px;
    }
    .hero-section{
        height: 800px;
    }

    .hero-right {
        margin:auto;
    }

    .feature-section{
        display: block;
        text-align: center;
    }

    .img-cont {
        margin: auto;
    }

    .small-divider {
        width: 350px;
    }

    .header-h1,
    .hero-p {
        text-align: center;
    }

    .header-h3 {
        font-weight: bold;
        text-align: center;
        font-size: 36px;
        
    }

    .cta {
        text-align: center;
        margin: auto;
    }
}


/*EXTRA SMALL or Samsung Galaxy S20 ULTRA*/
@media (max-width: 575px) {

    .hero-section {
        display: block;
        text-align: center;
        height: 500px;
        margin-bottom: 100px;
    }

    .hero-right {
        display: none;
    }

    .feature-section {
    }

    .feature-img,
    .step-img {
        width: 270px;
    }

    .header-h1 {
        text-align: center;
    }

    .header-h2 {
        font-size: 48px;
    }

    .header-h3 {
        text-align: center;
        font-weight: bold;
    }
    .img-cont{
        text-align: center;
    }

    .small-divider {
        width: 200px;
    }

    h1 {
        font-size: 12px;
    }

    p {
        font-size: 14px;
        text-align: center;
    }

    .sign {
        font-weight: bold;
        font-size: 16px;
    }

    .review-header-h2 {
        font-size: 36px;
    }

}

/*Iphone 12 PRO*/
@media (max-width: 390px) {
    .feature-img,
    .step-img {
        width: 250px;
    }
}


/*LARGE*/
/*@media (max-width: 992px) {
    body {
        background-color: yellow;
    }
}*/

/*EXTRA LARGE*/
/*@media (min-width: 1200px) {
    body {
        background-color: black;
    }
}*/

