* {
    margin: 0;
    padding: 0;
}


.hero-inner-left {
    border: 2px solid black;
    padding: 16px;
    max-width: 400px;
}

.hero-inner-right {
    border: 2px solid black;
    padding: 16px;
    max-width: 300px;
    margin-left: 100px;
}

.about-inner-bot {
    border: 2px solid black;
    padding: 16px;
    max-width: 350px;
    background-color: aqua;
}

.row-hero {
    margin: 140px 0;
    margin-bottom: 250px;
    display: flex;
}

section {
    border: 2px solid green;
}

.row-top p {
    margin-left: 20px;
}

.row-bot p {
    margin-right: 20px;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.hero .hero-bg {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    height: 100%;
    margin: 0 auto;
    position: absolute;
    right: 90px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(to top, #051937, #131a31, #1b1c2c, #1f1e26, #212121);
}



/*Start regform*/

/*.gradient-custom {
    background-image: linear-gradient(to right top, #051937, #002f4f, #004665, #005e78, #007789);
}*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

/*Slut regform*/


/*testar att modda en knapp*/
.btn-jeppe {
    background-color: #051937;
    color: white;
}
.btn-jeppe:hover {
    color: #f0f0f0;
}

/*hette från början .nav-link */
.nav-text { 
    text-decoration: none;
    color: black;
    font-size: 1.2em;  
}
