@page
@model IndexModel
@inject UserManager<IdentityUser> UserManager;
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Startsida";
    Layout = "_FrontpageTest";
}
<div class="front-page bg-white">
    <div class="row">
        <div class="hero-section col-sm-6 mb-5">
            <div class="row mb-4 py-4">

                <div class="col-lg-10 offset-lg-1">

                    <div class="row">

                        <div class="d-flex justify-content-center align-items-center col-lg-5 col-md-2 col-sm-4 offset-lg-1 order-lg-1 hero-left">

                            <div class="p-2">
                                <h1 class="header-h1 mb-4">
                                    Hitta digitala fotspår
                                    <br />
                                    från dem du älskar mest!
                                </h1>
                                <p class="pb-4">
                                    Genom att använda våra tjänster så får du tillgång till allt vi kan hitta om en närstående.
                                    Du kan då gå igenom allt i lugn och ro och sen välja vad du vill göra med innehållet.
                                </p>
                                <a class="da-btn-nav m-auto" asp-area="Identity" asp-page="/Account/Register">Bli medlem!</a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-4 offset-lg-1 order-lg-2 hero-right">
                            <img class="bilden" src="http://via.placeholder.com/1500x1100" />
@*                            <img class="bild-sm .d-none .d-sm-block .d-md-none" src="http://via.placeholder.com/300x300" />*@
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-section bg-vanlig br-16 pb-5 mb-5 pt-5 mt-5">
        <div class="container">



            <div class="feature-title row">
                <div class="col text-center" style="padding: 0px 15px;">
                    <h2 class="header-h2">
                        Vår vision
                    </h2>
                </div>
            </div>



            <div class="row mb-4 py-4">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-1">
                            <div class="p-2"
                                 style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <h3 class="header-h3 mb-4">AMBITION</h3>
                                <p class="font-xl">
                                    Vi strävar efter att göra det som man inte alltid tänker på att göra.
                                    Vi jobbar hårt för att du ska få det så smidigt som möjligt när du behöver
                                    ta hand om en omkommes digitala efterliv. Genom att samla allt på en plats
                                    kommer det underlätta både för er och alla inblandade parter.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1 order-lg-2">
                            <img src="http://via.placeholder.com/440x360" />
                        </div>
                    </div>
                </div>
            </div>




            <div class="row mb-4 py4">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-2">
                            <div class="p-2">
                                <h3 class="header-h3 mb-4">KUNSKAP</h3>
                                <p class="font-xl">
                                    Vårat team innehar en bred kunskap inom det berörda området. Vi sammarbetar med
                                    jurister, begravningsbyråer och de stora bolagen för att kunna tillgodose det som krävs
                                    för att just du ska få den hjälpen som behövs.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1 order-lg-1">
                            <img src="http://via.placeholder.com/440x360" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 py-4">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-1">
                            <div class="p-2">
                                <h3 class="header-h3 mb-4">MÅL</h3>
                                <p class="font-xl">
                                    Utöver att göra det enkelt och smidigt för er alla så strävar vi även efter an minskad
                                    miljöpåverkan. Allt som lagras online tar plats och det behövs fler och fler serverhallar
                                    för att kunna möta dagens efterfrågan. Dessa enorma servrarna tar på jordens resurser och vi måste
                                    göra vår instats för att säkra framtiden.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1 order-lg-2">
                            <img src="http://via.placeholder.com/440x360" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-page-cta d-none d-md-block pb-4 text-center">
                <a class="da-btn-nav m-auto" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr />
</div>

<div class="step-section mb-5 mt-5">
    <div class="row">
        <div class="col">
            <div class="row">

                <div class="col-1" style="background-color: red"></div>

                <div class="col mx-5 text-center" style="border: 2px solid red">
                    <h4>Steg 1: Registrera</h4>
                    <img src="http://via.placeholder.com/500x400" />
                </div>


                <div class="col text-center" style="border: 2px solid blue">
                    <h4>Steg 2: Fyll i uppgifter</h4>
                    <img src="http://via.placeholder.com/200x360" />
                </div>

                <div class="col mx-5 text-center" style="border: 2px solid green">
                    <h4>Steg 3: Skicka in och invänta återkopplning</h4>
                    <img src="http://via.placeholder.com/200x360" />
                </div>

                <div class="col-1" style="background-color: red"></div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr />
</div>

<div class="review-section bg-vanlig br-16 pb-5 mb-5 pt-5 mt-5">
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="row">

                    <div class="col-1"></div>

                    <div class="col mx-5 text-center">

                        <h3 class="py-2">
                            "Digital Afterlife hjälpte mig så otroligt mycket. Jag rekommenderar detta
                            starkt för alla som mist någon närstående."
                        </h3>
                        <p> -Klas</p>
                    </div>


                    <div class="col text-center">

                        <h3 class="py-2">
                            "Magiskt arbete av personalen på DA. Underlättade otroligt mycket när jag behövde stänga ner
                            delar av min mans digitala tjänster"
                        </h3>
                        <p> -Birgitta</p>
                    </div>

                    <div class="col mx-5 text-center">

                        <h3 class="py-2">
                            "Fem av fem möjliga. Gud vad skönt det vara att slippa tänka på dessa saker som sköts
                            av er på Afterlife!"
                        </h3>
                        <p> -Sofie</p>
                    </div>

                    <div class="col-1"></div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <hr />
</div>







@*FOOTER*@
<div class="d-flex flex-column mt-5">
    <div class="container-fluid">
        <footer class="footer text-muted text-center text-white mt-auto">
            <div class="container">
                &copy; 2023 - DigitalAfterlife - We Care</a>
            </div>
        </footer>
    </div>
</div>













@*



  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px



  *@
