@page
@model IndexModel
@inject UserManager<IdentityUser> UserManager;
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Startsida";
    Layout = "_FrontpageTest";
}

<div class="front-page">
    <div class="hero-section bg-white mb-5">
        <div class="row mb-4 py-4">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-1 hero-left">
                        <div class="p-2">
                            <h1 class="header-h1 mb-4">
                                Radera digitala fotspår
                                <br />
                                från dem du älskar mest!

                            </h1>
                            <p class="font-xl pb-4">
                                We offer agent-lead, self guided and virtual tour
                                options to fit every schedule. Book a tour and sign a lease in as little
                                as 24-hours.
                            </p>
                            <a class="btn-death m-auto" asp-area="Identity" asp-page="/Account/Login">Bli medlem!</a>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 order-lg-2 hero-right">
                        <img src="http://via.placeholder.com/1500x1100" />
                    </div>
                </div>
            </div>
        </div>
        <div class="features bg-vanlig br-16 pb-5 mb-5 pt-5 mt-5">
            <div class="container">
                <div class="feature-title row">
                    <div class="col text-center" style="padding: 0px 15px;">
                        <h2 class="header-h2">
                            Din resa startar här
                            <br />
                            hejehejhej
                        </h2>
                    </div>
                </div>
                <div class="row mb-4 py-4">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-1">
                                <div class="p-2"
                                     style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <h3 class="header-h3 mb-4">EN TITEL</h3>
                                    <p class="font-xl">
                                        We offer agent-lead, self guided and virtual tour
                                        options to fit every schedule. Book a tour and sign a lease in as little
                                        as 24-hours.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-1 order-lg-2">
                                <img src="http://via.placeholder.com/440x360" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 py4">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-2">
                                <div class="p-2">
                                    <h3 class="header-h3 mb-4">EN TITEL</h3>
                                    <p class="font-xl">
                                        We offer agent-lead, self guided and virtual tour
                                        options to fit every schedule. Book a tour and sign a lease in as little
                                        as 24-hours.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-1 order-lg-1">
                                <img src="http://via.placeholder.com/440x360" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 py-4">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-1">
                                <div class="p-2">
                                    <h3 class="header-h3 mb-4">EN TITEL</h3>
                                    <p class="font-xl">
                                        We offer agent-lead, self guided and virtual tour
                                        options to fit every schedule. Book a tour and sign a lease in as little
                                        as 24-hours.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-1 order-lg-2">
                                <img src="http://via.placeholder.com/440x360" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-page-cta d-none d-md-block pb-4 text-center">
                    <a class="btn-death m-auto" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
                    <a class="btn-death m-auto" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
                </div>
            </div>
        </div>
    </div>
</div>
