@page
@model IndexModel
@inject UserManager<IdentityUser> UserManager;
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Startsida";
    Layout = "_FrontpageTest";
}

<div class="front-page">
    <div class="features bg-cream br-16 pb-5 mb-5 pt-5">
        <div class="container">
            <div class="feature-title row">
                <div class="col text-center" style="padding: 0px 15px;">
                    <h2 class="header-h2">
                        Din resa startar här
                        <br />
                        hejehejhej
                    </h2>
                </div>
            </div>
            <div class="row mb-4 py-4">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="d-flex justify-content-center align-items-center col-lg-5 offset-lg-1 order-lg-1">
                            <div class="p-2">
                                <h3 class="header-h3 mb-4">EN TITEL</h3>
                                <p class="font-xl">LOREM IPSUM</p>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1 order-lg-2">
                            <p>en bild typ eller annat innehåll</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 py4"></div>
            <div class="row mb-4 py4"></div>
            <div class="home-page-cta d-none d-md-block pb-4"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row row-top">
            <div class="col-lg-12">
                <div class="container">
                    <section class="row row-top align-content-end">
                        <div class="col-lg-6 about-inner-left text-end">
                            <h3 class="display-3">Om oss</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="col-lg-6"></div>
                    </section>
                    <section class="row row-bot">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6 about-inner-right text-start">
                            <h3 class="display-3">Vad gör vi?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>

                    </section>
                    <section class="row row-botter justify-content-end">
                        <div class="col-lg-6 about-inner-bot">
                            <h3 class="text-end display-4">Hur går det till?</h3>
                            <ul>
                                <li>
                                    <p>Skapa konto</p>
                                </li>
                                <li>
                                    <p>Ladda upp dödcertifikat</p>
                                </li>
                                <li>
                                    <p>Signera Fullmakt</p>
                                </li>
                                <li>
                                    <p>Vänta på återkoppling</p>
                                </li>
                                <li>
                                    <p>Granska och Skicka</p>
                                </li>
                            </ul>
                            <div class="text-center">
                                <input type="button" class="btn btn-warning" value="Kontakt" />
                                <input type="button" class="btn btn-warning" value="Skapa konto" />
                            </div>
                        </div>
                        <div class="col-lg-6"></div>

                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <h3>Registrera</h3>
                <p>Skapa ett konto och fyll i uppgifter om dig själv.</p>

            </div>
            <div class="col-1 text-center m-auto"><i class=" fa-solid fa-arrow-right fa-2xl" style="color: #ffff;"></i></div>
            <div class="col-2">
                <h3>Ladda upp</h3>
                <p>Ladda upp nödvändiga dokumentation och information om den avlidne.</p>
            </div>
            <div class="col-1 text-center m-auto"><i class=" fa-solid fa-arrow-right fa-2xl" style="color: #ffff;"></i></div>
            <div class="col-2">
                <h3>Invänta</h3>
                <p>Vi återkopplar till dig så fort vi fått tillbaka information från berörda företag.</p>
            </div>
            <div class="col-2"></div>


        </div>


    </div>


</div>
